[include mainsail.cfg]
[include macros.cfg]
[include get_ip.cfg]
[include KAMP_Settings.cfg]

# PLEASE UNCOMMENT THE FILE THAT BEST FITS YOUR CONFIGURATION

# IF YOU ARE USING THE SCREEN THAT COMES WITH THE SV08
[include options/lcd/*.cfg]

# If you are using the stock probe, keep the following lines as-is.
# If you have an Eddy probe, comment the first and uncomment the second,
# then go read options/probe/eddy.cfg. 
# Also, when using eddy, comment out/remove the [probe] section here in the printer.cfg
#[include options/probe/stock.cfg]
#[include options/probe/eddy.cfg]
[include options/probe/eddy-ng.cfg]

[include shell_command.cfg]

[exclude_object]

[force_move]
enable_force_move: true 

[gcode_arcs]                       
resolution: 1.0                    

[pause_resume]

[mcu]
serial: /dev/serial/by-id/usb-Klipper_stm32f103xe_35FFDA054748303421702457-if00
restart_method: command     

[mcu extra_mcu]
serial: /dev/serial/by-id/usb-Klipper_stm32f103xe_33FF6A064746373232580357-if00
restart_method: command      
      
[adxl345]
cs_pin:extra_mcu:PB12

[resonance_tester]
accel_chip: adxl345
probe_points:
    175, 175, 30  # an example175 Y175 Z30
accel_per_hz:50
min_freq:1
max_freq:100
max_smoothing:0.2
hz_per_sec:0.5

[temperature_sensor mcu_temp]         
sensor_type: temperature_mcu
min_temp:0
max_temp:100

[temperature_sensor Host_temp]     
sensor_type: temperature_host
min_temp: 0
max_temp: 110

[temperature_sensor Toolhead_Temp]
sensor_type: temperature_mcu
sensor_mcu: extra_mcu

[virtual_sdcard] 
path:/home/biqu/printer_data/gcodes/

[printer]
kinematics: corexy           
max_velocity: 700            
max_accel: 40000             
#max_accel_to_decel: 10000
minimum_cruise_ratio: 0.5
max_z_velocity: 20           
max_z_accel: 500             
square_corner_velocity: 5.0  

[input_shaper]
damping_ratio_x: 0.001
damping_ratio_y: 0.001
#shaper_type_x = mzv
#shaper_freq_x = 35
#shaper_type_y = mzv
#shaper_freq_y = 35

#[probe]
#pin: extra_mcu:PB6    
#x_offset: -17                  
#y_offset: 10             
#z_offset : 0
#speed: 15.0
#speed: 5.0
#samples: 2
#sample_retract_dist: 2.0
#lift_speed: 50
#samples_result: average
#samples_tolerance: 0.016
#samples_tolerance_retries: 2
#
#
#[probe_pressure]
#pin: ^!PE12     
#x_offset: 0                  
#y_offset: 0
#z_offset : 0
#speed: 1.0

[homing_override]
gcode:
   {% if not 'Z' in params and not 'Y' in params and 'X' in params %}
     G28 X
     G0 X348 F1200
   {% elif not 'Z' in params and not 'X' in params and 'Y' in params %}
     G28 Y
     G0 Y360  F1200
   {% elif not 'Z' in params and 'X' in params and 'Y' in params %}
     G28 Y
     G0 Y360  F1200
     G4 P2000
     G28 X
     G0 X348  F1200
   {% elif 'Z' in params and not 'X' in params and not 'Y' in params %}
     G90
     G0  X191 Y165 F3600
     G28 Z
     G0  Z10 F600
   {% else %}
     G90
     G0 Z5 F300
     G28 Y
     G0 Y360  F1200
     G4 P2000
     G28 X
     G0 X348  F1200
     G90
     G0  X191 Y165 F3600
     G28 Z
     G0  Z10 F600
   {% endif %}
axes: xyz
set_position_z: 0

[bed_mesh]
speed: 500                   
horizontal_move_z: 5         
mesh_min: 10,10              
mesh_max: 333,320            
probe_count: 20,20             
algorithm: bicubic   
bicubic_tension: 0.4
split_delta_z: 0.016
mesh_pps:3,3
adaptive_margin: 5
fade_start: 0
fade_end: 10
fade_target: 0

[quad_gantry_level]          
gantry_corners:              
	-60,-10
	410,420
points:
	36,10
	36,320
	346,320
	346,10
speed: 400                   
horizontal_move_z: 2.0 #3 #5 # orig 10
retry_tolerance: 0.008 # orig 0.05 # someone had .008 which is nuts?
retries: 10 # orig 5
max_adjust: 10 # orig 30                

#[z_offset_calibration]
#center_xy_position:191,165      
#endstop_xy_position:289,361                         
#z_hop: 10                       
#z_hop_speed: 15                                  
    
[stepper_x]
step_pin: PE2
dir_pin: !PE0
enable_pin: !PE3
rotation_distance: 40         
microsteps: 16                
full_steps_per_rotation:200   
endstop_pin: tmc2209_stepper_x: virtual_endstop              
position_min: 0               
position_endstop: 355         
position_max: 355             
homing_speed: 30              
homing_retract_dist: 0        
homing_positive_dir: True     
#--------------------------------------------------------------------
[tmc2209 stepper_x]
uart_pin: PE1
interpolate: True             
run_current: 1.5              
hold_current: 1.5             
sense_resistor: 0.150         
stealthchop_threshold: 0      
uart_address:3
driver_sgthrs: 65
diag_pin: PE15

[stepper_y]
step_pin: PB8
dir_pin: !PB6
enable_pin: !PB9
rotation_distance: 40         
microsteps: 16                
full_steps_per_rotation:200   
endstop_pin: tmc2209_stepper_y: virtual_endstop              
position_min: 0               
position_endstop: 364         
position_max: 364            
homing_speed: 30              
homing_retract_dist: 0        
homing_positive_dir: true     
#--------------------------------------------------------------------
[tmc2209 stepper_y]
uart_pin: PB7
interpolate: True             
run_current: 1.5              
hold_current: 1.5             
sense_resistor: 0.150         
stealthchop_threshold: 0      
uart_address:3
driver_sgthrs: 65
diag_pin: PE13 

[stepper_z] #motherboard：Z3 
step_pin:PC0    
dir_pin:PE5    
enable_pin:!PC1    
rotation_distance: 40         
gear_ratio: 80:12             
microsteps: 16                
endstop_pin: probe:z_virtual_endstop           
position_max: 347             
position_min: -5              
#position_endstop: 0
homing_speed: 15.0
homing_retract_dist: 5.0
homing_retract_speed: 15.0
second_homing_speed: 10.0

[tmc2209 stepper_z]
uart_pin: PE6 
interpolate: true             
run_current: 0.58           
hold_current: 0.58         
sense_resistor: 0.150         
stealthchop_threshold: 999999 
uart_address:3

[stepper_z1] ##motherboard：Z1
step_pin:PD3  
dir_pin:!PD1 
enable_pin:!PD4 
rotation_distance: 40         
gear_ratio: 80:12            
microsteps: 16               

[tmc2209 stepper_z1]
uart_pin:PD2  
interpolate: true             
run_current:  0.58          
hold_current: 0.58           
sense_resistor: 0.150         
stealthchop_threshold: 999999 
uart_address:3

[stepper_z2] ##motherboard：Z2
step_pin:PD7
dir_pin:PD5   
enable_pin:!PB5
rotation_distance: 40         
gear_ratio: 80:12             
microsteps: 16                

[tmc2209 stepper_z2]
uart_pin:PD6  
interpolate: true             
run_current: 0.58            
hold_current: 0.58           
sense_resistor: 0.150         
stealthchop_threshold: 999999 
uart_address:3

[stepper_z3] ##motherboard：Z4
step_pin:PD11 
dir_pin:!PD9 
enable_pin:!PD12   
rotation_distance: 40         
gear_ratio: 80:12             
microsteps: 16                

[tmc2209 stepper_z3]
uart_pin:PD10    
interpolate: true            
run_current: 0.58         
hold_current: 0.58           
sense_resistor: 0.150         
uart_address:3
stealthchop_threshold: 999999 

[thermistor my_thermistor_e]
temperature1:25
resistance1:110000
temperature2:100
resistance2:7008
temperature3:220
resistance3:435

[extruder]
step_pin: extra_mcu:PA8   
dir_pin: extra_mcu:PB8    
enable_pin:!extra_mcu: PB11   
rotation_distance: 6.5 
microsteps: 16                
full_steps_per_rotation: 200 
nozzle_diameter: 0.400        
filament_diameter: 1.75  
max_extrude_only_distance: 150     
heater_pin:extra_mcu:PB9  
sensor_type:my_thermistor_e  
pullup_resistor: 11500
sensor_pin: extra_mcu:PA5  
min_temp: 5                  
max_temp: 305                 
max_power: 1.0                
min_extrude_temp: 150         
#control : pid
#pid_kp : 33.838
#pid_ki : 5.223
#pid_kd : 47.752
pressure_advance: 0.025       
pressure_advance_smooth_time: 0.035
max_extrude_cross_section: 5 


[tmc2209 extruder]
uart_pin: extra_mcu:PB10  
interpolate: True             
run_current: 0.8           
hold_current: 0.8             
uart_address:3
sense_resistor: 0.150          

[verify_heater extruder]      
max_error: 120                
check_gain_time:30           
hysteresis: 5                
heating_gain: 2               

[filament_switch_sensor filament_sensor]
pause_on_runout: True
event_delay: 3.0
pause_delay: 0.5
switch_pin: PE9

[thermistor my_thermistor]
temperature1:25
resistance1:100000
temperature2:50
resistance2:18085.4
temperature3:100
resistance3:5362.6

[heater_bed]
heater_pin:PA0
sensor_type: my_thermistor  
sensor_pin: PC5
max_power: 1.0               
min_temp: 5                  
max_temp: 105                
#control : pid
#pid_kp : 73.571
#pid_ki : 1.820
#pid_kd : 783.849

[verify_heater heater_bed]      
max_error: 120                
check_gain_time:40           
hysteresis: 5                
heating_gain: 2 

[fan_generic fan0] # back model cooling fan
pin: extra_mcu:PA7
max_power: 1.0

[fan_generic fan1] # front model cooling fan
pin: extra_mcu:PB1
max_power: 1.0

[fan_generic fan3] # exhaust fan
pin: PA2
max_power: 1.0

[heater_fan hotend_fan]      
pin: extra_mcu:PA6   
max_power: 1.0               
kick_start_time: 0.5         
heater: extruder             
heater_temp: 45              
tachometer_pin:extra_mcu:PA1
tachometer_ppr: 1
tachometer_poll_interval: 0.0013

[board_pins]
aliases:
    # EXP1 header
    EXP1_1=PA8,   EXP1_2=PC9,
    EXP1_3=PA10,  EXP1_4=PA9,
    EXP1_5=PC11,  EXP1_6=PC10,
    EXP1_7=PD8,   EXP1_8=PC12,
    EXP1_9=<GND>, EXP1_10=<5V>,

    # EXP2 header
    EXP2_1=PB14,  EXP2_2=PB13,
    EXP2_3=PC7,   EXP2_4=PB12,
    EXP2_5=PC6,   EXP2_6=PB15,
    EXP2_7=PC8,   EXP2_8=<RST>,
    EXP2_9=<GND>, EXP2_10=<5V>

[display]                    
lcd_type: uc1701
cs_pin: EXP1_3
a0_pin: EXP1_4
rst_pin: EXP1_5
encoder_pins: ^EXP2_5, ^EXP2_3
click_pin: ^!EXP1_2
contrast: 63
spi_software_miso_pin: EXP2_1
spi_software_mosi_pin: EXP2_6
spi_software_sclk_pin: EXP2_2

[output_pin beeper]
pin: EXP1_1
pwm: False
value: 0

[neopixel Screen_Colour]     
pin: EXP1_6
chain_count: 3
color_order: RGB             
initial_RED: 0.5             
initial_GREEN: 0.4           
initial_BLUE: 0.7           

[output_pin main_led]
pin:PA3
pwm: 1
value:1
cycle_time: 5

[idle_timeout]
gcode: _IDLE_TIMEOUT
timeout: 600

[save_variables]
filename =/home/biqu/printer_data/config/saved_variables.cfg

#*# <---------------------- SAVE_CONFIG ---------------------->
#*# DO NOT EDIT THIS BLOCK OR BELOW. The contents are auto-generated.
#*#
#*# [heater_bed]
#*# control = pid
#*# pid_kp = 68.610
#*# pid_ki = 2.877
#*# pid_kd = 409.087
#*#
#*# [extruder]
#*# control = pid
#*# pid_kp = 28.855
#*# pid_ki = 3.630
#*# pid_kd = 57.348
#*#
#*# [input_shaper]
#*# shaper_type_x = mzv
#*# shaper_freq_x = 48.8
#*# shaper_type_y = mzv
#*# shaper_freq_y = 36.8
#*#
#*# [bed_mesh default]
#*# version = 1
#*# points =
#*# 	-0.060583, 0.123571, 0.123571, 0.123571, 0.105525, 0.123571, 0.185876, 0.123571, 0.123571
#*# 	-0.060583, 0.195997, 0.185876, 0.185876, 0.185876, 0.195997, 0.225167, 0.215066, 0.156686
#*# 	-0.060583, 0.185876, 0.156686, 0.156686, 0.156686, 0.185876, 0.215066, 0.195997, 0.156686
#*# 	-0.036267, 0.195997, 0.185876, 0.156686, 0.156686, 0.166827, 0.195997, 0.195997, 0.156686
#*# 	-0.011952, 0.215066, 0.195997, 0.195997, 0.185876, 0.195997, 0.225167, 0.215066, 0.166827
#*# 	-0.036267, 0.195997, 0.185876, 0.185876, 0.176351, 0.185876, 0.195997, 0.185876, 0.156686
#*# 	-0.036267, 0.195997, 0.215066, 0.185876, 0.195997, 0.195997, 0.195997, 0.185876, 0.156686
#*# 	-0.011952, 0.195997, 0.190936, 0.185876, 0.185876, 0.185876, 0.185876, 0.185876, 0.123571
#*# 	-0.635894, -0.532078, -0.532078, -0.532078, -0.532078, -0.562868, -0.532078, -0.501309, -0.593657
#*# x_count = 9
#*# y_count = 9
#*# mesh_x_pps = 3
#*# mesh_y_pps = 3
#*# algo = bicubic
#*# tension = 0.4
#*# min_x = 10.0
#*# max_x = 332.96
#*# min_y = 10.0
#*# max_y = 340.0
#*#
#*# [probe_eddy_ng btt_eddy]
#*# calibration_15 = gASV5AoAAAAAAAB9lCiMAWaUXZQoR0FIJbUYqU0kR0FIJjKFf6ieR0FIJq/yVgQYR0FIJy1fLF+TR0FIJ6rMArsNR0FIKCg42RaHR0FIKKWlr3IBR0FIKSMShc17R0FIKaB/XCj2R0FIKh3sMoRwR0FIKptZCN/qR0FIKxjF3ztkR0FIK5YytZbeR0FILBOfi/JZR0FILJEMYk3TR0FILQ55OKlNR0FILYvmDwTHR0FILglS5WBBR0FILoa/u7u8R0FILwQskhc2R0FIL4GZaHKwR0FIL/8GPs4qR0FIMHxzFSmkR0FIMPnf64UfR0FIMXdMweCZR0FIMfS5mDwTR0FIMnImbpeNR0FIMu+TRPMHR0FIM20AG06CR0FIM+ps8an8R0FINGfZyAV2R0FINOVGnmDwR0FINWKzdLxqR0FINeAgSxflR0FINl2NIXNfR0FINtr5987ZR0FIN1hmzipTR0FIN9XTpIXNR0FIOFNAeuFIR0FIONCtUTzCR0FIOU4aJ5g8R0FIOcuG/fO2R0FIOkjz1E8wR0FIOsZgqqqrR0FIO0PNgQYlR0FIO8E6V2GfR0FIPD6nLb0ZR0FIPLwUBBiTR0FIPTmA2nQOR0FIPbbtsM+IR0FIPjRahysCR0FIPrHHXYZ8R0FIPy80M+H2R0FIP6yhCj1xR0FIQCoN4JjrR0FIQKd6tvRlR0FIQSTnjU/fR0FIQaJUY6tZR0FIQh/BOgbUR0FIQp0uEGJOR0FIQxqa5r3IR0FIQ5gHvRlCR0FIRBV0k3S8R0FIRJLhadA3R0FIRRBOQCuxR0FIRY27FocrR0FIRgsn7OKlR0FIRoiUwz4fR0FIRwYBmZmaR0FIR4Nub/UUR0FISADbRlCOR0FISH5IHKwIR0FISPu08weCR0FISXkhyWL9R0FISfaOn753R0FISnP7dhnxR0FISvFoTHVrR0FIS27VItDmR0FIS+xB+SxgR0FITGmuz4faR0FITOcbpeNUR0FITWSIfD7OR0FITeH1UppJR0FITl9iKPXDR0FITtzO/1E9R0FIT1o71ay3R0FIT9eorAgxR0FIUFUVgmOsR0FIUNKCWL8mR0FIUU/vLxqgR0FIUc1cBXYaR0FIUkrI29GUR0FIUsg1si0PR0FIU0WiiIiJR0FIU8MPXuQDR0FIVEB8NT99R0FIVL3pC5r3R0FIVTtV4fZyR0FIVbjCuFHsR0FIVjYvjq1mR0FIVrOcZQjgR0FIVzEJO2RaR0FIV652Eb/VR0FIWCvi6BtPR0FIWKlPvnbJR0FIWSa8lNJDR0FIWaQpay29R0FIWiGWQYk4R0FIWp8DF+SyR0FIWxxv7kAsR0FIW5ncxJumR0FIXBdJmvcgR0FIXJS2cVKbR0FIXRIjR64VR0FIXY+QHgmPR0FIXgz89GUJR0FIXoppysCDR0FIXwfWoRv+R0FIX4VDd3d4R0FIYAKwTdLyR0FIYIAdJC5sR0FIYP2J+onmR0FIYXr20OVhR0FIYfhjp0DbR0FIYnXQfZxVR0FIYvM9U/fPR0FIY3CqKlNJR0FIY+4XAK7ER0FIZGuD1wo+R0FIZOjwrWW4R0FIZWZdg8EyR0FIZePKWhysR0FIZmE3MHgnR0FIZt6kBtOhR0FIZ1wQ3S8bR0FIZ9l9s4qVR0FIaFbqieYPR0FIaNRXYEGKR0FIaVHENp0ER0FIac8xDPh+R0FIakyd41P4R0FIasoKua9yR0FIa0d3kArtR0FIa8TkZmZnR0FIbEJRPMHhR0FIbL++Ex1bR0FIbT0q6XjVR0FIbbqXv9RQR0FIbjgEli/KR0FIbrVxbItEZYwBaJRdlChHQC34j1wo9cJHQCvspWMiVvlHQCnxgCObowlHQCgIlsQRCS5HQCbBIVTM6lhHQCVmykdPvuNHQCRWLOKzS+lHQCOIWNaTDulHQCKSJq+t/V9HQCH9+SyZotxHQCEzv8jaaNZHQCCMN/KSDU9HQB/fxjrUiItHQB7Apqg8dIRHQB2oU236M5lHQB0BE8BDyDhHQBwJzi5RZXpHQBsoF05RI/xHQBpk25R7Dd1HQBmPqkFl5kRHQBjaeP/dN+tHQBg6r0uZLqRHQBebEMlOzgFHQBcboBMpDWBHQBZnlf0e78dHQBXu/EpttCdHQBVWqJo641dHQBS+RreTc05HQBRY2QCz/RpHQBP5m4fK1/9HQBNsVj9jb+pHQBL6FMnZChhHQBKQIMmPsAlHQBI4XkMzwDZHQBHNKw53QL9HQBFcRmLIiA9HQBELZvn9jtBHQBC+/I8q3o1HQBBPhoPKvMxHQA/YYEfIUeNHQA9CfLSmKq1HQA60MCTBXN1HQA4hevNS3XRHQA2a5Ucx64tHQAzXYf+oBeFHQAw9xPvHZEJHQAvGEaT4hZtHQAsm5qzP5iNHQAqDJ8z2T0RHQAoPCDZClqxHQAmlrPOCafZHQAkdEkzA0sRHQAihSd7FWitHQAgrBOk2tbxHQAesl1W2TkZHQAcz1NtqJUZHQAa6llisepxHQAZJA7bvFHRHQAXktf9km1FHQAV9N4HOapJHQAUbA6ZI9IZHQAS/IvjBBttHQARTGz/pwcdHQAPmKYHOfShHQAN92G2NHjFHQAMc6/NBey1HQALIDM3xvn9HQAJh+zvgpAFHQAINl3UuW0tHQAG4kIt6f3tHQAFh0XEb/zlHQAENrgAdwnJHQAC0A3NaaK5HQABgz/Y0ZeFHQAASuCYOfENHP/+GMWjOy/5HP/7nYctR11dHP/5KONUzpEtHP/23QaNjSWdHP/0fmjWxNhFHP/yVVJ55n9VHP/v1eEI9MhpHP/tdVedTvtdHP/rNcqogyd9HP/oweNdNBthHP/mdLA1JqYBHP/kYsxTyjGtHP/iSQDr6OY5HP/gDndQfJ6RHP/eAT2yQRhJHP/b5e+fdzs5HP/ZvGXZ2r6pHP/X40EAV8bNHP/WAVAGKoidHP/T2AHZFAHJHP/R9eMvpz9NHP/QBRRcYHV1HP/N7LNW1jP5HP/MBcQ+K5lhHP/KNBi3PSZlHP/IT3PUWQT1HP/GkGsRNBa5HP/EzlecTwWBHP/DA1yiq8OxHP/BZBXHe1ElHP+/TM+j2+hhHP+7v/jO9FelHP+4QNfnp8tdHP+0TVF/ZudlHP+xDcXgUraZHP+tkxlCwXARHP+qj3JnWSvFHP+nLLgzP+4xHP+kBoh282RRHP+hHKea0ebVHP+dvErEDWklHP+a0XNgw7ERHP+XxEWj1Z/1HP+U/qOHOBBVHP+SIZ9RDJudHP+PMrQ3eGnpHP+MavVMJXjxHP+JkPk5Rq9ZHP+Gmw0DiVlpHP+Dy+UoR1GpHP+AyY5eKfwFHP97p1f7oRpdHP92dC2DqQpdHP9wzlOGR8GdHP9rZMB9O9aNHP9lsxP4Y3zVHP9gMIRSyHwRHP9a2nQTKX9ZHP9VyL8X3KLlHP9QZMAoLyZFHP9LSweXeKjBHP9GBqBbNb0FHP9BTeduVaf9HP83yvA8PmEpHP8tf2oTzTOhHP8jq9/Xj9PZHP8aL3GuNd91HP8QIaQH7EMFHP8F0/DKWi09HP73uzWQDgZdHP7jg6nh/skpHP7QZ1Ba2aftHP67Cpjf84ydHP6SLC3sL3fdHP5bMzMzMzMhljAdoX3JhbmdllEc/lszMzMzMyEdALfiPXCj1woaUjAdmX3JhbmdllEdBSCW1GKlNJEdBSG61cWyLRIaUjAJkY5RLD3Uu
#*# calibration_16 = gASV5AoAAAAAAAB9lCiMAWaUXZQoR0FIFFlFQ5WBR0FIFXchYzmUR0FIFpT9gt2nR0FIF7LZooG6R0FIGNC1wiXMR0FIGe6R4cnfR0FIGwxuAW3yR0FIHCpKIRIFR0FIHUgmQLYYR0FIHmYCYForR0FIH4Pef/4+R0FIIKG6n6JQR0FIIb+Wv0ZjR0FIIt1y3up2R0FII/tO/o6JR0FIJRkrHjKcR0FIJjcHPdavR0FIJ1TjXXrCR0FIKHK/fR7UR0FIKZCbnMLnR0FIKq53vGb6R0FIK8xT3AsNR0FILOov+68gR0FILggMG1MzR0FILyXoOvdGR0FIMEPEWptYR0FIMWGgej9rR0FIMn98meN+R0FIM51YuYeRR0FINLs02SukR0FINdkQ+M+3R0FINvbtGHPKR0FIOBTJOBfcR0FIOTKlV7vvR0FIOlCBd2ACR0FIO25dlwQVR0FIPIw5tqgoR0FIPaoV1kw7R0FIPsfx9fBOR0FIP+XOFZRhR0FIQQOqNThzR0FIQiGGVNyGR0FIQz9idICZR0FIRF0+lCSsR0FIRXsas8i/R0FIRpj202zSR0FIR7bS8xDlR0FISNSvErT3R0FISfKLMlkKR0FISxBnUf0dR0FITC5DcaEwR0FITUwfkUVDR0FITmn7sOlWR0FIT4fX0I1pR0FIUKWz8DF7R0FIUcOQD9WOR0FIUuFsL3mhR0FIU/9ITx20R0FIVR0kbsHHR0FIVjsAjmXaR0FIV1jcrgntR0FIWHa4za3/R0FIWZSU7VISR0FIWrJxDPYlR0FIW9BNLJo4R0FIXO4pTD5LR0FIXgwFa+JeR0FIXynhi4ZxR0FIYEe9qyqDR0FIYWWZys6WR0FIYoN16nKpR0FIY6FSCha8R0FIZL8uKbrPR0FIZd0KSV7iR0FIZvrmaQL1R0FIaBjCiKcHR0FIaTaeqEsaR0FIalR6x+8tR0FIa3JW55NAR0FIbJAzBzdTR0FIba4PJttmR0FIbsvrRn95R0FIb+nHZiOLR0FIcQejhceeR0FIciV/pWuxR0FIc0NbxQ/ER0FIdGE35LPXR0FIdX8UBFfqR0FIdpzwI/v9R0FId7rMQ6APR0FIeNioY0QiR0FIefaEgug1R0FIexRgooxIR0FIfDI8wjBbR0FIfVAY4dRuR0FIfm31AXiBR0FIf4vRIRyTR0FIgKmtQMCmR0FIgceJYGS5R0FIguVlgAjMR0FIhANBn6zfR0FIhSEdv1DyR0FIhj753vUFR0FIh1zV/pkXR0FIiHqyHj0qR0FIiZiOPeE9R0FIirZqXYVQR0FIi9RGfSljR0FIjPIinM12R0FIjg/+vHGJR0FIjy3a3BWcR0FIkEu2+7muR0FIkWmTG13BR0FIkodvOwHUR0FIk6VLWqXnR0FIlMMnekn6R0FIleEDme4NR0FIlv7fuZIgR0FImBy72TYyR0FImTqX+NpFR0FImlh0GH5YR0FIm3ZQOCJrR0FInJQsV8Z+R0FInbIId2qRR0FIns/klw6kR0FIn+3AtrK2R0FIoQuc1lbJR0FIoil49frcR0FIo0dVFZ7vR0FIpGUxNUMCR0FIpYMNVOcVR0FIpqDpdIsoR0FIp77FlC86R0FIqNyhs9NNR0FIqfp903dgR0FIqxhZ8xtzR0FIrDY2Er+GR0FIrVQSMmOZR0FIrnHuUgesR0FIr4/Kcau+R0FIsK2mkU/RR0FIscuCsPPkR0FIsule0Jf3R0FItAc68DwKR0FItSUXD+AdR0FItkLzL4QwR0FIt2DPTyhCR0FIuH6rbsxVR0FIuZyHjnBoR0FIurpjrhR7ZYwBaJRdlChHQBxIzMzMzMxHQBs7yh2I1YJHQBpjKTl6QP5HQBmBEOJnH3FHQBitBZwjFghHQBftsBEX4MVHQBdAcc3cA6xHQBacvCtjZKJHQBX6FvnCw/BHQBVXLLxvDwJHQBTMeTiU8OpHQBRM+Y9l6MtHQBPKqMaSPnFHQBNIm/2DQNRHQBLjn1cXnd1HQBJsvu6bFiFHQBH9hbl38dJHQBGSKtKz0UxHQBE0pKLlQ0pHQBDbCYYuFrFHQBCAVyir7J1HQBAq4oFvsbpHQA+q5XwwjjVHQA8GWMJqeapHQA5dcEqmJe9HQA26liWlSLtHQA0t8uKLHIpHQAymPGlqRStHQAwUS+Kt7lRHQAuMFRv6yltHQAsHeIR0xjBHQAqMCKmrqZVHQAoMsCdyJo1HQAmR32h8zTZHQAkUBysFBJRHQAihegzJuxJHQAg2VXmNnCpHQAfN9oAvS0ZHQAdhGYV3Q/1HQAb1w69TIztHQAaP3waVJtJHQAYs34YOB+ZHQAXNGAlZMHVHQAVzvvvhnYFHQAUUZiXbwnxHQAS4MQTYvAxHQARdmPHjdIZHQAQGyEHxTXZHQAOyx5o+491HQANfJvAXtttHQAMMaE1nJTNHQAK+s/Kk3QJHQAJvWJ2PsJJHQAIfia0Y9bhHQAHTp1eLW8NHQAGE7mhacL1HQAE40oZA7XxHQADzcl0odBpHQACqJk36ti1HQABlhN4th/JHQAAdf/S/mtpHP/+rvy4kmT1HP/8mug31nHNHP/6gJmXNi39HP/4gqEoFjfhHP/2inJwOopVHP/0fME5M2/VHP/yfmr+3P6lHP/wiDIKLRTtHP/ulMhsW79JHP/sstYsLUXtHP/q0YWhoYoBHP/pAXzR5EPZHP/nPxm9YsLtHP/ldSAPDipRHP/jyfjdCYC5HP/iDawV/n8hHP/gXpNLoM95HP/enrFhobXVHP/dAKQc6uXtHP/bTGP2hl2lHP/ZsEVkxiLhHP/YJX3yEIIFHP/WnMXm8X49HP/VCga8xv6ZHP/TbgTy42jtHP/R/S+XKEB5HP/QcTqkmhW5HP/O/OamGXSpHP/NgT8qGBStHP/MDSqnO289HP/KnskB/OnBHP/JHOdeU3GVHP/HoPJy0D2lHP/GLLGbA+LhHP/EsaRtDb0lHP/DR00zKjDNHP/B6pv9geW9HP/AlasaEUAJHP++fwEiw9FZHP+747jpLY9VHP+5SE2mqDM1HP+2nT7VIBVlHP+0BJK3LvfZHP+xhD1ey5AlHP+u7rkS7sg9HP+sZUcOXN5pHP+p5M3ui1pVHP+nSXJS4Ny1HP+k5+SEpZ99HP+ifsjl8DQlHP+gEUQ9k+DJHP+dk/xPgGHBHP+bEdiszdPpHP+YowSL5mGpHP+WNLHnFWLRHP+T29VFfUttHP+Ra984errRHP+PCDctVWO5HP+MuUa2u+lNHP+KaPXgA9qBHP+IOOZ7XYHtHP+F16nauhRNHP+DftFmJjuxHP+BOVo4Ns9NHP9+EUKan8PFHP95drI68r3xHP900D67hOvdHP9wK4xyhEUlHP9rgJpNiYA5HP9nHKMzYr9BHP9isB00SMr1HP9eXmj08RwZHP9Z3KwvyyMJHP9VT+BfoFnFHP9Q1T5a48mxHP9MghlFl6RZHP9IPPTJapNZHP9DxbWVOvqRHP8+9JvMs/TBHP82caBQGiG1HP8taV7DrcmxHP8lLdXVpARlHP8crfH4uI6xHP8UAcF9PNx5HP8KQm3Tvh5ZHP7/XZSCrqkFHP7mop3202LNHP7INDpf8UGpHP5IAAAAAAAVljAdoX3JhbmdllEc/kgAAAAAABUdAHEjMzMzMzIaUjAdmX3JhbmdllEdBSBRZRUOVgUdBSLq6Y64Ue4aUjAJkY5RLEHUu
#*# calibrated_drive_currents = 15, 16
#*# calibration_version = 3
#*# saved_reg_drive_current = 15
#*# saved_tap_drive_current = 15
